# Imgcomp test configruation file
# Please see docs/config.html for more details on cofiguring Imgcomp

# The command to start aquiring
# Tell rapistill to aquire a 1600x1200 image every second
aquire_cmd = raspistill -q 10 -ex antishake -n -th none -p 1000,0,600,450 -w 1600 -h 1200 -o /ramdisk/out%05d.jpg -t 0 -tl 1000

# For Raspberry pi OS 11 (bullseye) or later, you can use legacy camera support, or libcamera
# For frame rate of 1 fps or slower, use libcamera-still
#     aquire_cmd = libcamera-still -n --width 1600 --height 1200 -t 0 --timelapse 1000 --quality 75 -o /ramdisk/out%05d.jpg
#
# libcamera-still doesn't support burst mode for faster frame rates.  But fast frame rates can be achieved using libcamera-vid.
# The downside is that the jpeg files are just images, no exif header with metadata in it.
#     aquire_cmd = libcamera-vid -t 0 -n --framerate 2 --denoise cdn_hq --segment 1 --codec mjpeg --width 1600 --height 1200 -quality 75 -o /ramdisk/out%05d.jpg


# Directory to get images from as they are aquired
# (raspistill aquire_cmd must also indicate to put images there)
followdir = /ramdisk

# Region of interst.  Format left-right,top-bottom 
# Omitted left-right means full width.
#region = ,390-700

# Specify a map of which parts of the image to ignore.
# Solid blue ares are ignored, solid red is twice as sensitive.
# any other colour is treated as normal detection area.
# For more on this, pelase see docs/diffmap.html
#diffmap = "diffmap.jpg"

# Turn on spurious reject (change that reverts to previous after just 1 frame)
spurious = 1

# Brightness change monitor, off by default.
# For use with burst mode (-bm flag in aquire_cmd))
# in raspistill to restart rapsistill if brightness changed too much, because
# burst mode does not track exposure levels.
brmonitor = 0

# Where to save interesting images to
savedir = images

# Where to save images that have changes.  One directory per day
# with subdirectories for each hour.  This is also the default naming
# scheme.
savenames = %y%m%d/%H/%m%d-%H%M%S

# How many seconds between images kept regardless of motion.
timelapse = 1800

# Sensitivity.  50 would be quite senstive.  1000 is relatively insensitive.
sensitivity = 300

# Log to file instead of console, and where to copy logs to.
# Logging needs to be on and use /ramdisk/log.txt for realtime view mode to work.
logtofile = /ramdisk/log.txt
movelognames = images/%y%m%d/%H/Log.html
