# Imgcomp test configruation file
# Please see docs/config.html for more details on cofiguring Imgcomp

# The command to start aquiring
# Tell rapistill to aquire a 1280x720 image every 500 miliseconds.
aquire_cmd = raspistill -q 10 -n -bm -th none -p 480,0,800,480 -w 1280 -h 720 -o /ramdisk/out%05d.jpg -t 4000000 -tl 500";

# Directory to get images from as they are aquired
# (aquire_cmd must also indicate to put images there)
followdir = /ramdisk

# Region of interst.  Format left-right,top-bottom 
# Omitted left-right means full width.
#region = ,390-700

# Specify a map of which parts of the image to ignore.
# Solid blue ares are ignored, solid red is twice as sensitive.
# any other colour in the image is treated as normal detection area.
#diffmap = "diffmap.jpg"

# Turn on spurious reject
spurious = 1

# Where to save interesting images to
savedir = images

# Where to save images that have changes.  One directory per day
# with subdirectories for each hour.  This is also the default naming
# scheme.
savenames = %m%d/%H/%m%d-%H%M%S

# How many seconds between images kept regardless of motion for timelapses.
# Configure for every 300 seconds (5 minutes)
timelapse = 300

# Sensitivity.  50 would be quite senstive.  400 is relatively insensitive.
sensitivity = 100

