# Imgcomp test configruation file

# The command to start aquiring
aquire_cmd = raspistill -q 10 -n -bm -th none -p 480,0,800,480 -w 1280 -h 720 -o /ramdisk/out%05d.jpg -t 4000000 -tl 300";

# Directory to fetch images into (aquire_cmd directs them there)
followdir = /ramdisk

# Region.  Format left-right,top-bottom 
region = ,390-700

# Where to save interesting images to
savedir = images

# How often to save an image regardless
timelapse = 30

# Sensitivity
sensitivity = 10

